# config.auto.tfvars.example - Exercise 15: Cloud-init
# Copy to config.auto.tfvars and customize values

server_name     = "cloud-init-server"
server_type     = "cx33"
server_image    = "debian-13"
location        = "nbg1"
# existing_ssh_key_name = ""
devops_username = "devops"
environment     = "development"
project         = "ex15"
